name: pr-checks

on:
  pull_request:
    branches: [ master, main ]
    types: [ edited, opened, synchronize, reopened ]
    paths-ignore: ['**.md']
jobs:
  # main job of testing and building the env.
  test:
    permissions:
      pull-requests: write
    uses: kubescape/workflows/.github/workflows/go-basic-tests.yaml@main
    with:
      GO_VERSION: 1.23
      CGO_ENABLED: 0
    secrets: inherit
